<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TeaAndDepPlusMapper">

    <select id="selectByTeaNumber" parameterType="com.entity.Teacher" resultType="com.dto.TeaAndDepPlus">
        select teacher.name,teacher.password,teacher.number,teacher.title,teacher.phone,assessor,department.tea_job,college.dep_name from teacher,department,college where teacher.number=department.tea_num and department.tea_dep_num=college.dep_num

        <trim suffixOverrides="" prefix="and">
            <if test="number!=null">teacher.number =#{number}</if>

        </trim>
    </select>
</mapper>
